server:
  port: 8080
  servlet:
    context-path: /api
spring:
  application:
    name: echo
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/echo?serverTimezone=Asia/Shanghai&useUnicode=true&characterEncoding=utf-8&allowMultiQueries=true
    username: root
    password: # your password
  profiles:
    active: dev
logging:
  level:
    com.luno.echo: DEBUG